// MIXINS !!

@mixin transform-scale($x:1, $y:1){
	-webkit-transform: scale($x, $y);
	-moz-transform   : scale($x, $y);
	-o-transform     : scale($x, $y);
	-ms-transform    : scale($x, $y);
	transform        : scale($x, $y);
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Libre Baskerville', serif;
}

a {
	color: black;
	text-decoration: none;
}
h1{
	font-size: 60px;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
}

h1 span {
	font-weight: 300;
	font-size: 40px;
}

h2 {
	font-size: 20px;
}

.light-font {
	font-weight: 300;
}
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

html[xmlns] .clearfix {
	display: block;
}

* html .clearfix {
	height: 1%;
}





.album-cover{
	display: block;
	margin: auto;
}


.premiere-section{
	margin-top: 50px;
}
.headline-top{
	text-align: center;
}
.headline p{
	text-align: center;
}
.headline-down {
	color: #bfbfbf;
	font-size: 14px;
	font-style: italic;
	text-align: center;
	margin-top: 20px;
}


hr {
	margin-top: 50px;
}
footer {
	margin-top: 50px;
	margin-bottom: 50px;
}
footer p {
	font-family: 'Lato', sans-serif;
	text-align: center;
	font-size: 12px;
	letter-spacing: 2px;
	text-transform: uppercase;
}


.back-to-top{
	width: 50px;
	height: 50px;
	border: solid red 2px;
	position: fixed;
	right: 10px;
	bottom: 50px;
	display: none;
}

.box {
	width: 350px;
	height: 100px;
	position: fixed;
	bottom: 0;
	right: -500px;
	background-color: #FFF;
	padding: 10px;
	border: 1px solid #000;
}

.box .headline-down {
	margin-left: 0px;
	margin-bottom: 10px;

}
.box-anim-enter {
	-webkit-animation: box-anim-enter 0.5s linear;
	animation: box-anim-enter 0.5s linear;
	right: 0px;
}

@-webkit-keyframes box-anim-enter {

	0%{
		right: -500px
	}
	100%{
		right: 0px;
	}
}

/* FF etc.. */
@keyframes box-anim-enter {

	0%{
		right: -500px
	}
	100%{
		right: 0px;
	}
}

.box-anim-leave {
	-webkit-animation: box-anim-leave 0.5s linear;
	animation: box-anim-leave 0.5s linear;
	right: -500px;

}

@-webkit-keyframes box-anim-leave {

	0%{
		right: 0px
	}
	100%{
		right: -500px;
	}
}

/* FF etc.. */
@keyframes box-anim-leave {

	0%{
		right: 0px
	}
	100%{
		right: -500px;
	}
}

.play {
	position: absolute;
	top: 30px;
	left: 0px;
	width: 380px;
	height: 380px;
	background-color: #FFF;
	opacity: 0.5;
}

.play .fa-play {
	line-height: 380px;
	color: #000;
	opacity: 1;
	-moz-opacity : 1;
	-webkit-animation: opacite 0.3s linear;
	animation: opacite 0.3s linear;
}

.play .fa-pause {
	line-height: 380px;
	color: #000;
	opacity: 1;
	-moz-opacity : 1;
	-webkit-animation: opacite 0.3s linear;
	animation: opacite 0.3s linear;
}



@-webkit-keyframes opacite {

	0%{
		opacity: 0;
	}
	100%{
		opacity: 0.5;
	}
}

@keyframes opacite {

	0%{
		-moz-opacity: 0;
		opacity: 0;
	}
	100%{

		-moz-opacity: 0.5;
		opacity: 0.5;
	}
}

.player{
	width: 100%;
	position: fixed;
	bottom: 0px;
	background-color: #FFF;
	border-top: 1px solid #eee;
	h2{
		margin-top: 5px;
	}
}

.back-home{
	display: block;
	margin: auto;
	margin-bottom: 40px;
	margin-top: 40px;

}

.error{
	text-align: center;
	color: #949494;
	font-style: italic;
}

.playsong{
	cursor: pointer;
}
