<div class="container">
  <section class="premiere-section">

    <div class="headline-top">
      <h1><span>Volume</span> {{title}}</h1>
    </div>
    <div class="headline-down">
    </div>

  </section>
</div> <!-- container -->

<a href="./#/" title="Retour à l'acceuil"><img class="back-home" src="./img/icons/backhome.svg"></a>

<div class="container">

  <div class="row">
    <div class="col-sm-6">
      <img class="album-cover img-responsive" src="{{cover}}">

      <div ng-app="myApp" ng-controller="LikesCtrl">
        <button  class="like-btn likebtn" data-likeid="{{volnum}}"><i class="fa fa-heart-o"></i>  <span>{{likesNum}} </span> personnes aiment cette playlist</button>
      </div>

    </div>
    <div class="col-sm-6">
      <div ng-repeat="song in songs">

        <li class="playsong" data-url="{{song.url}}">  {{song.name}} </li>
      </div>

    </div>
  </div>
</div>
