<header>
  <div class="bg-img clearfix" style="background-image: url('{{cover}}');">
    <h1> Volume IV</h1>
  </div>
</header>

<hr/>

<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <img src="{{cover}}">
      <button id="like-vol-8" class="like-btn"><i class="fa fa-heart-o"></i>  <span>5 </span> personnes aiment cette playlist</button>
    </div>
    <div class="col-sm-6">
      <div ng-repeat="song in songs">

        <li class="playsong" data-url="{{song.url}}">  {{song.name}} </li>
      </div>

    </div>
  </div>
</div>
