<div ng-show="loading"> <h1> Chargement ... </h1> </div>




<div class="container-video">
  <video id="bg" autoplay="true" loop="true" muted="true"><source src="img/video.mp4" type='video/mp4'><source src="img/video.webm" type='video/webm'>
  </video>
  <div class="header-black-box">
    <h1> Sur la face B</h1> <span>0<randnum></randnum></span>
    <p class="phrase"></p>
  </div>
</div>



<section class="premiere-section">
  <div class="container">
    <div class="headline-top">
      <h1><span>Nos</span> Playlists</h1>
    </div>
    <div class="headline-down">
      <p> Détendez vous vous êtes au </br>
        bon endroit </p>
      </div>
    </div>
  </section>



  <div class="row">
    <div class="container">
      <div ng-repeat="post in posts">
        <div class="col-sm-6">
          <a href="#/volume/{{$index}}"><img src="{{post.cover}}"></a>
        </div>
        <br/>
      </div> <!-- ng -reapea -->
    </div>

  </div> <!-- row -->
