<section class="player">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">

        <player>

          <h2 style="font-size:14px;"></h2>

          <div class="row">
            <div class="col-sm-3">
              <playsong > <img src="./img/icons/play.svg" width="30px" > </playsong>
              <pausesong ><img src="./img/icons/pause.svg" width="30px"> </pausesong>
              <strong> <span class="curent-time">00 : 00</span> / <span class="duration">00.00</span> </strong>
            </div>
            <div class="col-sm-9">
              <div id="waveform"></div>
            </div>
          </div> <!-- row -->

        </player>

      </div> <!-- col-sm-12 -->
    </div> <!-- row -->
  </div>
</section>
