
<player ng-controller="SongsCtrl" ng-show="isPlayerBuilt">
  <section class="player">
    <div class="container">

      <div class="row">
        <div class="col-sm-12 u-txtCenter" >
          <span class="u-mrs">{{curentlyPlayingName}}</span>

          <strong class="u-mrs"> <span class="curent-time">{{curentSongTime}}</span> / <span class="duration">{{curentltySongDuration}}</span> </strong>
          <img src="./img/icons/play.svg" width="30px" ng-click="resumeSong()">
          <pausesong ><img src="./img/icons/pause.svg" width="30px" ng-click="pauseSong()"> </pausesong>

        </div>
        <div class="col-sm-12 wave-container">

          <i ng-show="playerState !== 'ready' " class="loader fa fa-1x fa-circle-o-notch fa-spin"></i>
          <div id="waveform"></div>
        </div>
      </div> <!-- row -->


    </div>


  </section>
</player>

<div class="u-pbl"></div>
