<section class="player">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">

        <player ng-controller="SongsCtrl">

          <h2 style="font-size:14px;">{{curentlyPlayingName}}</h2>
          <div class="row">
            <div class="col-sm-3" >

              <img src="./img/icons/play.svg" width="30px" ng-click="resumeSong()">
              <pausesong ><img src="./img/icons/pause.svg" width="30px" ng-click="pauseSong()"> </pausesong>
              <strong> <span class="curent-time">{{curentSongTime}}</span> / <span class="duration">{{curentltySongDuration}}</span> </strong>

            </div>
            <div class="col-sm-9">

              <div id="waveform"></div>
            </div>
          </div> <!-- row -->

        </player>

      </div> <!-- col-sm-12 -->
    </div> <!-- row -->
  </div>
</section>
