@charset "UTF-8";
/* line 11, sass/_base.scss */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Libre Baskerville', serif;
}

/* line 18, sass/_base.scss */
a {
  color: black;
  text-decoration: none;
}

/* line 22, sass/_base.scss */
h1 {
  font-size: 60px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

/* line 28, sass/_base.scss */
h1 span {
  font-weight: 300;
  font-size: 40px;
}

/* line 33, sass/_base.scss */
h2 {
  font-size: 20px;
}

/* line 37, sass/_base.scss */
.light-font {
  font-weight: 300;
}

/* line 40, sass/_base.scss */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* line 49, sass/_base.scss */
.clearfix {
  display: inline-block;
}

/* line 53, sass/_base.scss */
html[xmlns] .clearfix {
  display: block;
}

/* line 57, sass/_base.scss */
* html .clearfix {
  height: 1%;
}

/* line 65, sass/_base.scss */
.header-black-box {
  position: absolute;
  top: 40vh;
  left: 5%;
  width: 90vw;
  height: 192px;
  background-color: black;
}

/* line 73, sass/_base.scss */
.container-video {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-attachment: fixed;
  background-position: center top;
}

/* line 82, sass/_base.scss */
.bg-img {
  background-attachment: fixed;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: -10px;
  margin-left: -10px;
  margin-right: -10px;
  margin-top: -10px;
}

/* line 93, sass/_base.scss */
.bg-img-container {
  position: relative;
  height: 300px;
  width: 100%;
  display: block;
  overflow: hidden;
}
/* line 99, sass/_base.scss */
.bg-img-container .bg-img {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1;
}
/* line 107, sass/_base.scss */
.bg-img-container .title-container {
  position: absolute;
  width: 50%;
  left: 50%;
  margin-left: -25%;
  top: 100px;
  z-index: 2;
  background-color: #000;
  height: 35%;
  padding-top: 1%;
}
/* line 117, sass/_base.scss */
.bg-img-container .title-container h1 {
  color: #FFF;
  text-align: center;
}

/* line 124, sass/_base.scss */
.home-cover-container {
  margin-top: 50px;
}
/* line 126, sass/_base.scss */
.home-cover-container img {
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

/* line 133, sass/_base.scss */
.album-cover {
  display: block;
  margin: auto;
}

/* line 138, sass/_base.scss */
.header-black-box span {
  color: #FFF;
  position: absolute;
  top: 55px;
  left: 350px;
}

/* line 145, sass/_base.scss */
#bg {
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* line 155, sass/_base.scss */
.header-black-box h1 {
  font-family: 'Libre Baskerville', serif;
  color: #FFF;
  padding-top: 60px;
  padding-left: 15px;
  font-weight: 300;
  font-size: 50px;
}

/* line 164, sass/_base.scss */
.header-black-box p {
  color: #9e9e9e;
  font-style: italic;
  padding-left: 15px;
  letter-spacing: 10px;
}

/* line 171, sass/_base.scss */
.premiere-section {
  margin-top: 50px;
}

/* line 174, sass/_base.scss */
.headline-top {
  text-align: center;
}

/* line 177, sass/_base.scss */
.headline p {
  text-align: center;
}

/* line 180, sass/_base.scss */
.headline-down {
  color: #bfbfbf;
  font-size: 14px;
  font-style: italic;
  text-align: center;
  margin-top: 20px;
}

/* line 190, sass/_base.scss */
.article {
  text-align: center;
  margin-top: 100px;
}

/* line 195, sass/_base.scss */
.article-container {
  width: 340px;
  display: inline-block;
  vertical-align: top;
}

/* line 200, sass/_base.scss */
.article-container ul {
  list-style: none;
}

/* line 203, sass/_base.scss */
.article-container li {
  font-family: 'Lato', sans-serif;
  padding-top: 11px;
  font-size: 13px;
}
/* line 208, sass/_base.scss */
.article-container li a {
  font-family: inherit;
}
/* line 210, sass/_base.scss */
.article-container li a:hover {
  text-decoration: underline;
}

/* line 219, sass/_base.scss */
.playing a:before {
  content: "▶";
  margin-right: 3px;
  position: relative;
  top: 1px;
}
/* line 226, sass/_base.scss */
.playing a:hover {
  text-decoration: none !important;
}

/* line 233, sass/_base.scss */
.article h2 {
  margin-bottom: 10px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-align: center;
  border: solid 1px black;
}

/* line 240, sass/_base.scss */
.article-img-container {
  display: inline-block;
  width: 380px;
  height: 380px;
  margin-left: 70px;
  position: relative;
}

/* line 248, sass/_base.scss */
.article-img-container img {
  margin-top: 30px;
}

/* line 252, sass/_base.scss */
.img-player {
  position: absolute;
  right: 0px;
  bottom: -30px;
  height: 50px;
  width: 50px;
  background-color: black;
  line-height: 50px;
}

/* line 261, sass/_base.scss */
.fa-play {
  color: #FFF;
  -webkit-animation: clignoter 2s linear infinite;
  animation: clignoter 2s linear infinite;
}

@-webkit-keyframes clignoter {
  0% {
    color: #FFF;
  }
  25% {
    color: #000000;
  }
  50% {
    color: #FFF;
  }
  75% {
    color: #000000;
  }
  100% {
    color: #FFF;
  }
}
@keyframes clignoter {
  0% {
    color: #FFF;
  }
  25% {
    color: #000000;
  }
  50% {
    color: #FFF;
  }
  75% {
    color: #000000;
  }
  100% {
    color: #FFF;
  }
}
/* line 306, sass/_base.scss */
hr {
  margin-top: 50px;
}

/* line 309, sass/_base.scss */
footer {
  margin-top: 50px;
  margin-bottom: 50px;
}

/* line 313, sass/_base.scss */
footer p {
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* line 321, sass/_base.scss */
.like-btn {
  width: 340px;
  height: 30px;
  cursor: pointer;
  background-color: transparent;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  text-align: center;
  border: solid 1px black;
  display: block;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 336, sass/_base.scss */
li.playsong {
  margin-bottom: 16px;
}

/* line 341, sass/_base.scss */
.hidden {
  display: none;
}

/* line 345, sass/_base.scss */
.back-to-top {
  width: 50px;
  height: 50px;
  border: solid red 2px;
  position: fixed;
  right: 10px;
  bottom: 50px;
  display: none;
}

/* line 355, sass/_base.scss */
.box {
  width: 350px;
  height: 100px;
  position: fixed;
  bottom: 0;
  right: -500px;
  background-color: #FFF;
  padding: 10px;
  border: 1px solid #000;
}

/* line 366, sass/_base.scss */
.box .headline-down {
  margin-left: 0px;
  margin-bottom: 10px;
}

/* line 371, sass/_base.scss */
.box-anim-enter {
  -webkit-animation: box-anim-enter 0.5s linear;
  animation: box-anim-enter 0.5s linear;
  right: 0px;
}

@-webkit-keyframes box-anim-enter {
  0% {
    right: -500px;
  }
  100% {
    right: 0px;
  }
}
/* FF etc.. */
@keyframes box-anim-enter {
  0% {
    right: -500px;
  }
  100% {
    right: 0px;
  }
}
/* line 398, sass/_base.scss */
.box-anim-leave {
  -webkit-animation: box-anim-leave 0.5s linear;
  animation: box-anim-leave 0.5s linear;
  right: -500px;
}

@-webkit-keyframes box-anim-leave {
  0% {
    right: 0px;
  }
  100% {
    right: -500px;
  }
}
/* FF etc.. */
@keyframes box-anim-leave {
  0% {
    right: 0px;
  }
  100% {
    right: -500px;
  }
}
/* line 426, sass/_base.scss */
.play {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 380px;
  height: 380px;
  background-color: #FFF;
  opacity: 0.5;
}

/* line 436, sass/_base.scss */
.play .fa-play {
  line-height: 380px;
  color: #000;
  opacity: 1;
  -moz-opacity: 1;
  -webkit-animation: opacite 0.3s linear;
  animation: opacite 0.3s linear;
}

/* line 445, sass/_base.scss */
.play .fa-pause {
  line-height: 380px;
  color: #000;
  opacity: 1;
  -moz-opacity: 1;
  -webkit-animation: opacite 0.3s linear;
  animation: opacite 0.3s linear;
}

@-webkit-keyframes opacite {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes opacite {
  0% {
    -moz-opacity: 0;
    opacity: 0;
  }
  100% {
    -moz-opacity: 0.5;
    opacity: 0.5;
  }
}
/* line 479, sass/_base.scss */
.player {
  width: 100%;
  position: fixed;
  bottom: 0px;
  background-color: #FFF;
  border-top: 1px solid #eee;
}
/* line 485, sass/_base.scss */
.player h2 {
  margin-top: 5px;
}

/* line 490, sass/_base.scss */
.back-home {
  display: block;
  margin: auto;
  margin-bottom: 40px;
  margin-top: 40px;
}
