@charset "UTF-8";
/* line 1, sass/_base.scss */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Libre Baskerville', serif;
}

/* line 8, sass/_base.scss */
a {
  color: black;
  text-decoration: none;
}

/* line 12, sass/_base.scss */
h1 {
  font-size: 60px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

/* line 18, sass/_base.scss */
h1 span {
  font-weight: 300;
  font-size: 40px;
}

/* line 23, sass/_base.scss */
h2 {
  font-size: 20px;
}

/* line 27, sass/_base.scss */
.light-font {
  font-weight: 300;
}

/* line 30, sass/_base.scss */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* line 39, sass/_base.scss */
.clearfix {
  display: inline-block;
}

/* line 43, sass/_base.scss */
html[xmlns] .clearfix {
  display: block;
}

/* line 47, sass/_base.scss */
* html .clearfix {
  height: 1%;
}

/* line 55, sass/_base.scss */
.header-black-box {
  position: absolute;
  top: 40vh;
  left: 5%;
  width: 90vw;
  height: 170px;
  background-color: black;
}

/* line 63, sass/_base.scss */
.container-video {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-attachment: fixed;
  background-position: center top;
}

/* line 72, sass/_base.scss */
.bg-img {
  background-attachment: fixed;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: -10px;
  margin-left: -10px;
  margin-right: -10px;
  margin-top: -10px;
}

/* line 83, sass/_base.scss */
.bg-img-container {
  position: relative;
  height: 300px;
  width: 100%;
  display: block;
  overflow: hidden;
  margin-bottom: 80px;
}
/* line 90, sass/_base.scss */
.bg-img-container .bg-img {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1;
}
/* line 98, sass/_base.scss */
.bg-img-container .title-container {
  position: absolute;
  width: 50%;
  left: 50%;
  margin-left: -25%;
  top: 100px;
  z-index: 2;
  background-color: #000;
  height: 35%;
  padding-top: 1%;
}
/* line 108, sass/_base.scss */
.bg-img-container .title-container h1 {
  color: #FFF;
  text-align: center;
}

/* line 115, sass/_base.scss */
.home-cover-container {
  margin-top: 50px;
}
/* line 117, sass/_base.scss */
.home-cover-container img {
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

/* line 120, sass/_base.scss */
.album-cover {
  display: block;
  margin: auto;
}

/* line 125, sass/_base.scss */
.header-black-box span {
  color: #FFF;
  position: absolute;
  top: 55px;
  left: 350px;
}

/* line 132, sass/_base.scss */
#bg {
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* line 142, sass/_base.scss */
.header-black-box h1 {
  font-family: 'Libre Baskerville', serif;
  color: #FFF;
  padding-top: 60px;
  padding-left: 15px;
  font-weight: 300;
  font-size: 50px;
}

/* line 151, sass/_base.scss */
.header-black-box p {
  color: #9e9e9e;
  font-style: italic;
  padding-left: 15px;
  letter-spacing: 10px;
}

/* line 158, sass/_base.scss */
.premiere-section {
  margin-top: 50px;
}

/* line 161, sass/_base.scss */
.headline-top {
  text-align: center;
}

/* line 164, sass/_base.scss */
.headline p {
  text-align: center;
}

/* line 167, sass/_base.scss */
.headline-down {
  color: #bfbfbf;
  font-size: 14px;
  font-style: italic;
  text-align: center;
  margin-top: 20px;
}

/* line 177, sass/_base.scss */
.article {
  text-align: center;
  margin-top: 100px;
}

/* line 182, sass/_base.scss */
.article-container {
  width: 340px;
  display: inline-block;
  vertical-align: top;
}

/* line 187, sass/_base.scss */
.article-container ul {
  list-style: none;
}

/* line 190, sass/_base.scss */
.article-container li {
  font-family: 'Lato', sans-serif;
  padding-top: 11px;
  font-size: 13px;
}
/* line 195, sass/_base.scss */
.article-container li a {
  font-family: inherit;
}
/* line 197, sass/_base.scss */
.article-container li a:hover {
  text-decoration: underline;
}

/* line 206, sass/_base.scss */
.playing a:before {
  content: "▶";
  margin-right: 3px;
  position: relative;
  top: 1px;
}
/* line 213, sass/_base.scss */
.playing a:hover {
  text-decoration: none !important;
}

/* line 220, sass/_base.scss */
.article h2 {
  margin-bottom: 10px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-align: center;
  border: solid 1px black;
}

/* line 227, sass/_base.scss */
.article-img-container {
  display: inline-block;
  width: 380px;
  height: 380px;
  margin-left: 70px;
  position: relative;
}

/* line 235, sass/_base.scss */
.article-img-container img {
  margin-top: 30px;
}

/* line 239, sass/_base.scss */
.img-player {
  position: absolute;
  right: 0px;
  bottom: -30px;
  height: 50px;
  width: 50px;
  background-color: black;
  line-height: 50px;
}

/* line 248, sass/_base.scss */
.fa-play {
  color: #FFF;
  -webkit-animation: clignoter 2s linear infinite;
  animation: clignoter 2s linear infinite;
}

@-webkit-keyframes clignoter {
  0% {
    color: #FFF;
  }
  25% {
    color: #000000;
  }
  50% {
    color: #FFF;
  }
  75% {
    color: #000000;
  }
  100% {
    color: #FFF;
  }
}
@keyframes clignoter {
  0% {
    color: #FFF;
  }
  25% {
    color: #000000;
  }
  50% {
    color: #FFF;
  }
  75% {
    color: #000000;
  }
  100% {
    color: #FFF;
  }
}
/* line 293, sass/_base.scss */
hr {
  margin-top: 50px;
}

/* line 296, sass/_base.scss */
footer {
  margin-top: 50px;
  margin-bottom: 50px;
}

/* line 300, sass/_base.scss */
footer p {
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* line 308, sass/_base.scss */
.like-btn {
  width: 340px;
  height: 30px;
  cursor: pointer;
  background-color: transparent;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  text-align: center;
  border: solid 1px black;
  display: block;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 323, sass/_base.scss */
li.playsong {
  margin-bottom: 16px;
}

/* line 328, sass/_base.scss */
.hidden {
  display: none;
}

/* line 332, sass/_base.scss */
.back-to-top {
  width: 50px;
  height: 50px;
  border: solid red 2px;
  position: fixed;
  right: 10px;
  bottom: 50px;
  display: none;
}

/* line 342, sass/_base.scss */
.box {
  width: 350px;
  height: 100px;
  position: fixed;
  bottom: 0;
  right: -500px;
  background-color: #FFF;
  padding: 10px;
  border: 1px solid #000;
}

/* line 353, sass/_base.scss */
.box .headline-down {
  margin-left: 0px;
  margin-bottom: 10px;
}

/* line 358, sass/_base.scss */
.box-anim-enter {
  -webkit-animation: box-anim-enter 0.5s linear;
  animation: box-anim-enter 0.5s linear;
  right: 0px;
}

@-webkit-keyframes box-anim-enter {
  0% {
    right: -500px;
  }
  100% {
    right: 0px;
  }
}
/* FF etc.. */
@keyframes box-anim-enter {
  0% {
    right: -500px;
  }
  100% {
    right: 0px;
  }
}
/* line 385, sass/_base.scss */
.box-anim-leave {
  -webkit-animation: box-anim-leave 0.5s linear;
  animation: box-anim-leave 0.5s linear;
  right: -500px;
}

@-webkit-keyframes box-anim-leave {
  0% {
    right: 0px;
  }
  100% {
    right: -500px;
  }
}
/* FF etc.. */
@keyframes box-anim-leave {
  0% {
    right: 0px;
  }
  100% {
    right: -500px;
  }
}
/* line 413, sass/_base.scss */
.play {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 380px;
  height: 380px;
  background-color: #FFF;
  opacity: 0.5;
}

/* line 423, sass/_base.scss */
.play .fa-play {
  line-height: 380px;
  color: #000;
  opacity: 1;
  -moz-opacity: 1;
  -webkit-animation: opacite 0.3s linear;
  animation: opacite 0.3s linear;
}

/* line 432, sass/_base.scss */
.play .fa-pause {
  line-height: 380px;
  color: #000;
  opacity: 1;
  -moz-opacity: 1;
  -webkit-animation: opacite 0.3s linear;
  animation: opacite 0.3s linear;
}

@-webkit-keyframes opacite {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes opacite {
  0% {
    -moz-opacity: 0;
    opacity: 0;
  }
  100% {
    -moz-opacity: 0.5;
    opacity: 0.5;
  }
}
