body{
  width: 1000px;
  display: block;
  margin: auto;
}

input{
  margin-top: 20px;
  display: block;
  margin: auto;
  width: 50%;
  height: 30px;
}
textarea{
    display: block;
    margin: auto;
    width: 50%;
    height: 100px;
}
